[submodule "third_party/imcore/imgui"]
	path = third_party/imcore/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/imcore/implot"]
	path = third_party/imcore/implot
	url = https://github.com/epezent/implot.git
[submodule "third_party/yoga"]
	path = third_party/yoga
	url = https://github.com/rxdu/yoga.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/rxdu/stb.git
