[submodule "src/third_party/imcore/imgui"]
	path = src/third_party/imcore/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/third_party/imcore/implot"]
	path = src/third_party/imcore/implot
	url = https://github.com/epezent/implot.git
[submodule "src/third_party/yoga"]
	path = src/third_party/yoga
	url = https://github.com/rxdu/yoga.git
[submodule "src/third_party/googletest"]
	path = src/third_party/googletest
	url = https://github.com/google/googletest.git
